extends layout
block content
  h1 Welcome
  br
  p Choosing a therapist can be a daunting process especially in a foreign country.
  | So I will tell you here about my personal, formal and professional experience
  | so you can feel reassured that you are in safe hands.
  br
  h2 What I offer
  h3 Experience
  h3 Formal training
  h3 Interests
  img(src="safehands.jpg", alt="Baby in someone's arms")
  p Safe hands
  img(src="hope.jpg", alt="Mural")
  p Hope
  img(src="peace.jpg", alt="We can never obtain peace in the outer world until we make peace with ourselves - Dalai Lama")
