nav
ol
  li
    img(class="icon", src="location.svg", alt="Location icon")
    h3 Casa de la luna
  li
    img(class="icon", src="location.svg", alt="Location icon")
    a(href="https://maps.google.com/?q=Camino+de+Hoyarassa,+197.+La+Moraleja,+Alcobendas,+Madrid")
      p Camino de Hoyarassa, 197. La Moraleja, Alcobendas, Madrid
  li
    h3 Registered Health Centre Nº CS12240
    a(href="https://maps.google.com/?q=c/Alcántara,+nº+43-45,+2-D+28006,+Madrid")
      p c/Alcántara, nº 43-45, 2-D 28006, Madrid
  li
    img(class="icon", src="phone.svg", alt="Phone icon")
  p Call me: #[a(href="tel:+34 617906862") +34 617 906 862]
  li
    img(class="icon", src="email.svg", alt="Email icon")
    p Email me: #[a(href="mailto:julieprince@cop.es") julieprince@cop.es]
    // google maps address 1
    // google maps address 2
