h1 Counselling and psychotherapy
h2 Julie Prince
img(class="icon", src="/storage/facebook.svg", alt="Facebook logo")
img(class="icon", src="linkedin.svg", alt="Linkedin logo")
p Contact me: #[a(href="tel:+34617906862") +34 617 906 862]
p Email: #[a(href="mailto:julieprince@cop.es") julieprince@cop.es]
nav
ol
  li
    a(href="/") Home
  li
    a(href="/about") About me
  li
    a(href="/questions") Questions
  li
    a(href="/blog") Blog
