extends layout
block content
  img(src="profile.jpg", alt="Profile picture")
  p If you are reading this, chances are something in your life is troubling you
  | and you are wondering about asking for some help. Whether you have had
  | counselling or therapy before, or this is your first time, you will likely
  | have many questions about me and how I will be able to help you. Having
  | followed a training that required me to have therapy myself I know how
  | important it is to feel you are in safe hands.  If your questions are
  | not answered here don't hesitate to contact me to get more information.
  ul
    li
      img(src="coap.jpg", alt="Colegio Oficial Psicologos Madrid")
    li
      img(src="eap.jpg", alt="English Association Psychotherapists")
  include interests
