h1 Interests

h2 Relationship issues
p We are always in relationship, to ourselves, others and the world.
| So whatever you bring will be about a relationship. However, I have
| a particular interest and training in the different stages of love...
| whether you are looking for love, struggling within a relationship,
| deciding whether to separate or have separated or divorced.

h2 Online therapy
p Need some help or some therapy, but location, family, travel committments,
| restricted mobility or some other reason makes it difficult for you to come
| to any of my locations?
|
| Maybe online therapy could be a possiblity for you.
| Online therapy can be cheaper and after an initial consultation can be arranged
| at a time to suit you. Contact me to see if it could work for you.

h2 Groups
p Introduction to  Mindfulness in English Mindful parenting.
| Mindful mornings.
|
| Find out more!
|
| Can't afford individual therapy maybe group therapy is an option.
|
| Recently divorced or separated? Would you like a safe place to talk with people in a similar situation
|
| #[a(href="/contact") Contact me] for more information on any of these groups

h2 Supervision
p Are you in training and need a qualified supervisor? Or in keeping with 'good practice' need supervision?
|
| I am an accredited clinical supervisor.
|
| #[a(href="/contact") Contact me] for more information

h2 Articles and resources
h3 Psychology Today
p 2015
p Featured columns on relationships, mental health education, and work related issues
a(href="http://www.psychologytoday.com/") Read more

img(src="dalailama.jpg", alt="If you want others to be happy, practice compassion. If you want to be happy, practice compassion. - Dalai Lama")
