extends layout
block content
  h1 Questions
  br
  h2 Why do you say counselling and psychotherapy?
  h2 What kind of reasons do people have for coming to therapy?
  h2 Where are you located?
  p I work in the centre of Madrid -
  | #[a(href="https://www.google.com/maps/place/Calle+de+Castell%C3%B3,+24,+28001+Madrid,+Spagna/@40.4244133,-3.6833504,17z/data=!3m1!4b1!4m8!1m2!2m1!1sCalle+Castell%C3%B3+No+24,+Escalera+2,+1D!3m4!1s0xd4228bd383492cd:0xbecf4ea2c3f6ebff!8m2!3d40.4244133!4d-3.6811617") Calle Castelló No 24, Escalera 2, 1D]
  h2 How much do you charge?
  h2 Are you affiliated with any insurance company?
  h2 What do I do next?
